/* About Page Styles */

.section-info-hero.desktop {
  background-image: radial-gradient(circle closest-corner at 50% 0, #f2f2f226, #0000);
  padding-top: 172px;
}

.section-info-hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  display: flex;
  position: relative;
}

.hero-fade {
  z-index: 5;
  background-image: linear-gradient(to bottom, #10101000, #101010 60%);
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding-top: 48px;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.container-info.hero {
  grid-row-gap: 80px;
  animation: fadeUpP 1s ease-out;
}

@keyframes fadeUpP {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-info {
  z-index: 1;
  flex-direction: column;
  width: 882px;
  display: flex;
  position: relative;
}

.overline-info-wrapper {
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.overline-wrapper {
  grid-column-gap: 12px;
  align-self: flex-start;
  align-items: center;
  display: flex;
}

.icon-section-dot {
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 20px #fff;
}

.text-projectpage-overline {
  color: #f2f2f266;
  text-align: left;
  letter-spacing: 1.5px;
  margin-top: 1px;
  font-family: Neue Montreal, sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 19px;
}

.text-hero.info-hero {
  text-align: left;
  letter-spacing: -1px;
  text-shadow: 0 4px 10px #0057ff33, 0 -4px 10px #ff5a0026, 0 0 30px #fff3;
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;
}

.text-hero {
  font-family: Neue Montreal, sans-serif;
}

.text-info-hero-serif {
  background-image: linear-gradient(to bottom, #f2f2f2 50%, #f2f2f233);
  letter-spacing: -1px;
  text-shadow: 0 4px 6px #0057ff26, 0 -4px 6px #ff5a001a, 0 0 20px #ffffff40;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: Gloock, sans-serif;
  font-style: italic;
}

.double-column-block.info-hero {
  align-items: start;
}

.double-column-block {
  grid-column-gap: 48px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-self: stretch;
  display: grid;
}

.content-info-hero {
  grid-row-gap: 64px;
  flex-direction: column;
  display: flex;
}

.container-hero-image.info-hero {
  width: auto;
}

.container-hero-image {
  z-index: 3;
  position: relative;
}

.glare-item-top.outer-edge {
  z-index: 1;
  background-image: linear-gradient(to right, #0000 5%, #fffc 35%, #fff 50%, #fffc 65%, #0000 95%);
  position: absolute;
  inset: 0% 0% auto;
}

.glare-item-top {
  height: 1px;
  margin-bottom: -1px;
}

.window-outline.info-hero {
  box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 80px #00000080;
}

.window-outline {
  backdrop-filter: none;
  outline-offset: -1px;
  background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f233, #0000);
  border-radius: 24px;
  outline: 1px solid #f2f2f226;
  padding: 8px;
  overflow: hidden;
}

.glare-item-top.hero-inner {
  height: 2px;
  margin-bottom: -2px;
}

.glare-item-top {
  background-image: linear-gradient(to right, #0000 10%, #fff 50%, #0000 90%);
}

.window-main {
  backdrop-filter: blur(20px);
  border: 1px solid #f2f2f24d;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: inset 0 0 10px #0000001a, 0 0 12px #0006;
}

.window-bar.info-hero {
  background-color: #f2f2f233;
  background-image: none;
  border-bottom: 1px solid #f2f2f24d;
  border-radius: 0;
  display: none;
}

.window-bar {
  backdrop-filter: blur(40px);
  height: 40px;
  padding-left: 20px;
  padding-right: 12px;
  box-shadow: 0 10px 20px 4px #0003;
}

.window-dots-wrapper {
  grid-column-gap: 10px;
  display: flex;
}

.dot {
  background-color: #f46b5d;
  width: 12px;
  height: 12px;
}

.dot.red {
  border: 1px solid #10101040;
  border-radius: 100px;
  box-shadow: 0 0 20px 2px #f46b5d;
}

.dot.yellow {
  background-color: #f9bd4e;
  border: 1px solid #10101040;
  border-radius: 100px;
  box-shadow: 0 0 20px 2px #f9bd4e;
}

.dot.green {
  background-color: #57c353;
  border: 1px solid #10101040;
  border-radius: 100px;
  box-shadow: 0 0 20px 2px #57c353;
}

.window-content.info-hero {
  padding: 0;
}

.window-content {
  z-index: 5;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  background-color: #101010b3;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  display: flex;
  position: relative;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
}

.text-projectpage-body.info-hero {
  padding-left: 24px;
  padding-right: 24px;
  font-family: Neue Montreal, sans-serif;
  line-height: 150%;
}

.text-projectpage-body {
  color: #f2f2f299;
  letter-spacing: .4px;
  flex: 1;
  font-size: 16px;
  font-weight: 300;
}

.text-body-info-emphasis {
  color: #f2f2f2e6;
  font-size: 18px;
  font-weight: 500;
}

.content-info-hero.has-offset {
  padding-top: 48px;
}

.info-hero-ending-wrapper {
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.signature-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.info-signature {
  width: 180px;
  padding-top: 20px;
}

.hero-noise {
  z-index: 0;
  opacity: .2;
  mix-blend-mode: overlay;
  background-image: url(https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/644af02a8b5b2b6b1b5b2b6b_noise-overlay-2.png);
  background-position: 0 0;
  background-size: 200px;
  display: block;
  position: absolute;
  inset: 0%;
}

/* Mobile styles */
.section-info-hero.mobile {
  display: none;
  background-image: radial-gradient(circle closest-corner at 50% 0, #f2f2f226, #0000);
}

.info-hero-stack-mobile {
  grid-row-gap: 64px;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 767px) {
  .section-info-hero.mobile {
    background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f226, #0000);
    display: flex;
  }

  .section-info-hero {
    padding: 144px 24px 64px;
  }

  .hero-fade.info-hero {
    display: none;
  }

  .hero-fade {
    height: 24vw;
    padding-top: 4vw;
  }

  .container-info.hero {
    grid-row-gap: 64px;
  }

  .container-info {
    grid-row-gap: 48px;
  }

  .text-hero.info-hero {
    letter-spacing: -.15vw;
    font-size: 8vw;
    line-height: 110%;
  }

  .text-hero {
    letter-spacing: -1.5px;
    font-size: 8.4vw;
  }

  .window-outline.info-hero {
    box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 20px 80px #000c;
  }

  .window-outline {
    backdrop-filter: blur(50px);
  }

  .window-content {
    padding-bottom: 28vw;
  }

  .text-projectpage-body {
    font-size: 15px;
  }

  .section-info-hero.desktop {
    display: none;
  }

  .section-info-hero.mobile {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .container-info {
    width: auto;
  }

  .section-info-hero {
    padding-left: 48px;
    padding-right: 48px;
  }

  .text-hero.info-hero {
    font-size: 42px;
    line-height: 110%;
  }

  .text-hero {
    font-size: 8.2vw;
  }

  .container-hero-image {
    width: auto;
  }

  .window-content {
    grid-row-gap: 32px;
    padding: 8vw 5vw 26vw;
  }

  .text-projectpage-body {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .section-info-hero {
    background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f240, #0000 50%);
    padding-top: 144px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-fade {
    height: 180px;
    padding-top: 32px;
  }

  .container-info.hero {
    grid-row-gap: 40px;
  }

  .overline-info-wrapper {
    grid-row-gap: 2vh;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .overline-wrapper {
    grid-column-gap: 10px;
  }

  .text-projectpage-overline {
    font-size: 10px;
    line-height: 16px;
  }

  .text-hero.info-hero {
    letter-spacing: -.1vw;
    font-size: 7.9vw;
    line-height: 110%;
  }

  .container-hero-image {
    flex: 1;
    justify-content: center;
    height: 100%;
    display: flex;
  }

  .window-outline.info-hero {
    display: flex;
    box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 10px 40px #000c;
  }

  .text-projectpage-body.info-hero {
    padding-left: 16px;
    padding-right: 16px;
  }

  .text-projectpage-body {
    font-size: 15px;
  }

  .signature-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-noise {
    z-index: 0;
    opacity: .6;
  }
}