/* Navigation Styles */
.section-nav {
  z-index: 10;
  height: 168px;
  padding: clamp(8px, 3%, 24px);
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
  transition: height 0.3s ease, padding 0.3s ease; 
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
.nav-bar {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
}

.nav-left-wrapper {
  flex: 1;
  align-items: center;
  height: 56px;
  display: flex;
}

.logo-text {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  margin-top: 1px;
  display: flex;
  cursor: pointer;
}

.text-logo {
  font-family: Neue Montreal, sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}

.text-underlogo {
  color: #f2f2f280;
  font-family: Neue Montreal, sans-serif;
  font-size: 12px;
  line-height: 12px;
  display: block;
}

.nav-pill-wrapper {
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 56px;
  display: flex;
  position: relative;
}

.nav-indicator-glow {
  background-color: rgb(236, 236, 236);
  border-radius: 2px;
  width: 24px;
  height: 4px;
  position: absolute;
  box-shadow: 0 2px 25px 2px #fff;
  transition: all 0.3s ease;
  display: none;
}

.nav-pill {
  pointer-events: auto;
  backdrop-filter: blur(15px);
  background-color:rgb(38, 36, 36);
  border: 1px solid #f2f2f21a;
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  width: 249px;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  transition: box-shadow 0.8s cubic-bezier(0.23, 1, 0.32, 1), 
              border 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  position: relative;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  animation: subtle-glow 4s infinite ease-in-out;
}

.nav-pill:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 
              0 8px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 1.5s ease;
}

@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2), 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.nav-toggle {
  color: #f2f2f2;
  text-align: center;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 36px;
  padding: 0 16px;
  text-decoration: none;
  transition: all .2s cubic-bezier(.165, .84, .44, 1);
  display: flex;
}

.nav-toggle:hover {
  background-color: #fff3;
  color: #f2f2f2;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-nav-toggle {
  text-align: center;
  font-family: Neue Montreal, sans-serif;
  font-weight: 500;
  line-height: 18px;
}

.nav-indicator-pill {
  background-color: #f2f2f20d;
  border-radius: 18px;
  width: 0;
  height: 36px;
  position: absolute;
  transition: all 0.3s ease;
  display: none;
}

.nav-right-wrapper {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
  display: flex;
}

.chip-socials-wrapper {
  grid-column-gap: 1px;
  align-items: center;
  display: flex;
}

.chip-socials {
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  height: clamp(40px, 6vh, 56px);
  padding-left: 16px;
  padding-right: 12px;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  gap: 12px;
  max-width: 100%;
}

.chip-socials i {
  font-size: 20px;
  color: #f2f2f2;
}

.chip-socials img {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.chip-socials:hover {
  background-color: #222;
  color: #fff;
  transform: translateY(-1px);
  transition: transform 0.6s ease;
}

.chip-socials img:hover,
.chip-socials i:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  transform: scale(1.1);
}

.fa-linkedin:before {
  content: "\f08c";
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-external {
  width: 12px;
  height: 12px;
  filter: none;
  fill: rgb(242, 242, 242);
  transition: filter 0.3s ease;
}

.text-socialnav {
  color: #f2f2f2;
  font-family: Neue Montreal, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.nav-menu-button {
  pointer-events: auto;
  display: none;
}

.mobile-popup-menu {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.mobile-popup-menu.show {
  opacity: 1;
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 8px;
  display: block;
}

.icon-contact, .icon-contact-close {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mobile Navigation Styles */
@media screen and (max-width: 350px) {
  .nav-menu-button {
    position: relative;
    left: 5px;
  }
}

@media screen and (max-width: 476px) {
  .nav-menu-button {
    width: 60px;
    height: 60px;
  }

  .icon-contact {
    position: relative;
    top: 10px;
  }
}

@media screen and (max-width: 501px) {
  .nav-pill-wrapper {
    position: absolute;
    left: 15px;
    top: 20px;
  }

  .nav-right-wrapper {
    top: -4px;
    position: relative;
    left: 299px;
  }

  .nav-menu-button {
    z-index: 1;
    grid-column-gap: 8px;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    box-shadow: inset 0 0 10px #0000001a, 0 4px 16px #00000040;
    margin-left: auto;
    top: 1px;
    position: relative;
    left: 105px;
  }
  
  .section-nav {
    background-image: linear-gradient(#0009, #0000);
    height: auto;
    padding: 20px 16px 48px;
    inset: 0% 0% auto;
  }

  .nav-left-wrapper {
    display: none;
  }

  .logo-text {
    display: none;
  }

  .text-logo {
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 20px;
  }

  .nav-pill {
    box-shadow: 0 12px 30px #0003;
  }

  .chip-socials {
    background-color: #f2f2f20d;
    border-radius: 100px;
    justify-content: center;
    height: 56px;
  }

  .text-socialnav {
    font-size: 18px;
  }

  .nav-menu-button {
    display: block;
  }

  .chip-socials-wrapper {
    display: none;
  }

  .mobile-popup-menu {
    top: 84px;
    right: 16px;
  }

  .text-popup-menu {
    letter-spacing: .2px;
    font-family: Neue Montreal, sans-serif;
  }

  .nav-pill-wrapper {
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .nav-toggle {
    width: 100%;
    text-align: center;
  }

  .nav-bar {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-nav {
    height: 144px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-menu-button {
    backdrop-filter: blur(8px);
    background-color: #f2f2f20d;
    border: 1px solid #f2f2f21a;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
    display: flex;
    box-shadow: 0 4px 15px #00000040;
  }

  .nav-bar {
    grid-column-gap: 8px;
  }

  .logo-text {
    grid-row-gap: 4px;
  }

  .text-logo {
    letter-spacing: -.5px;
    font-size: 18px;
    line-height: 22px;
  }

  .nav-right-wrapper {
    flex: 0 auto;
  }

  .chip-socials-wrapper {
    display: none;
  }

  .icon-contact {
    width: 28px;
    position: relative;
    top: 10px;
    left: 9px;
  }

  .icon-contact-close {
    opacity: 0;
    width: 28px;
    position: absolute;
    right: 8px;
    top: 10px;
  }

  .nav-menu-button {
    display: block;
  }

  .mobile-popup-menu {
    z-index: 10;
    grid-row-gap: 4px;
    backdrop-filter: blur(20px);
    background-color: #f2f2f20d;
    border: 1px solid #f2f2f21a;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    padding: 8px;
    display: none;
    position: fixed;
    inset: 88px 24px auto auto;
    overflow: hidden;
    box-shadow: 0 10px 30px #0000004d;
  }

  .popup-menu-item {
    grid-column-gap: 4px;
    color: #f2f2f2;
    border-radius: 10px;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    padding: 12px 14px;
    text-decoration: none;
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
    display: flex;
  }

  .text-popup-menu {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .icon-popup-external {
    width: 16px;
  }
}

@media screen and (max-width: 991px) {
  .section-nav {
    padding-left: 48px;
    padding-right: 48px;
  }

  .text-socialnav {
    line-height: 18px;
  }

  .nav-bar {
    justify-content: space-evenly;
    gap: 24px;
  }

  .nav-pill-wrapper {
    width: 205px;
    height: 49px;
  }

  .nav-right-wrapper {
    position: relative;
    left: 55px;
  }

  .text-logo {
    font-size: clamp(18px, 2.5vw, 22px); 
  }
}